* {
  font-family: Sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board > tr {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#board > tr > td {
  border-radius: 0.25vw;
  border:0.1vw solid black;
  flex-grow: 1;
  margin: 0.25vw;
  width: 10vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board > tr > td > span {
  font-size: 1.5vw;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#dropdown_container {
  border: 0.1vw solid black;
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#dropdown_container > span {
  padding: 0.2vw 0.2vw;
  display: block;
  font-size: 2vw;
}

#dropdown_container > span:hover {
  background-color: #cccccc;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup > div {
  background-color: white;
  border-radius: 1vw;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup > div > div {
  width: 80%;
  height: 30%;
  position: relative;
}

#term_input {
  text-transform: uppercase;
  font-size: 2vw;
  width: 100%;
  height: 100%;
}

/* Remove default chrome input outline */
input {
  outline: none;
  border-width: 0px 0px 1px;
  border-color: #DADADA;
}

.hidden {
  display: none !important;
}

button {
  font-size: 1.5vw;
  padding: 1vw;
  border-radius: 0.25vw;
  border:0.1vw solid black;
}

button:hover {
  background-color: #DADADA;
}

button:disabled {
  background-color: grey;
}

#board > tr > td[color="blank"][revealed="true"] {
  background-color: #f2d8b7;
  color: black;
}

#board > tr > td[color="blue"][revealed="true"] {
  background-color: #000cb3;
  color: white;
}


#board > tr > td[color="red"][revealed="true"] {
  background-color: #b30000;
  color: white;
}

#board > tr > td[color="black"][revealed="true"] {
  background-color: #2e2e2e;
  color: white;
}

#get_blue_clue {
  background-color: #737cff;
}

#get_red_clue {
  background-color: #ff7373;
}

#clue_popup[is_red="false"] > div > div {
  background-color: #737cff;
}

#clue_popup[is_red="true"] > div > div {
  background-color: #ff7373;
}